
@media (max-width:375px){

.header-left{
        margin-left: 5%;
    flex-direction: column;
 
}
.header-right{
  position: absolute;
  right: 80%;
  top: 15%;
  
}
.content{
    margin-top: 20%;
}

}